* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
 }

.main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.mini {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh !important;
    width: 50vw !important;
}

.upLeft {
    background-color: darksalmon;
}

.upRight {
    background-color: coral;
}

.downLeft {
    background-color: yellowgreen;
}

.downRight {
    background-color: olivedrab;
}

.material-icons {
    color: #fefefe;
    font-size: 4rem;
}

.flip-card-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.flip-card-side-a,
.flip-card-side-b,
.flip-card-side-c,
.flip-card-side-d {
    width: 100%;
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    /* transition: all 9s ease-in-out; */
}

/* .flip-card-side-a {
    transform: rotateY(0deg) translateZ(100px);
}
.flip-card-side-b {
    transform: rotateY(90deg) translateZ(100px);
}
.flip-card-side-c {
    transform: rotateY(-90deg) translateZ(100px);
}
.flip-card-side-d {
    transform: rotateY(0deg) translateZ(100px);
} */

.flip .flip-card-side-a {
    transform: rotateY(-90deg) translateZ(100px);
}
.flip .flip-card-side-b {
    transform: rotateY(0deg) translateZ(100px);
}
.flip .flip-card-side-c {
    transform: rotateY(0deg) translateZ(100px);
}
.flip .flip-card-side-d {
    transform: rotateY(90deg) translateZ(100px);
}

.hide {
    display: none;
    /* animation: hideMe 3s forwards; */
}

.pointer {
    /* animation: showMe 3s forwards; */
    z-index: 10;
}

@keyframes hideMe{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes showMe{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.material-symbols-outlined {
    font-size: 5rem;
}

.flip-card-content {
    perspective: 800px;
    perspective-origin: top right;
}

.r_b {
    z-index: 100;
    height: 80%;
    width: 20%;
    float: right;
    /* background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,1))); */
    background: linear-gradient(to left, rgba(255,255,255,0.3), rgba(255,255,255,0.01));
}

.d_c {
    z-index: 100;
    height: 10%;
    width: 100%;
    margin-top: 90vh;
    text-align: center;
    background: linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.01));
}